{% extends 'base.html' %} {% block content %}
<br><br><br><br><br><br>
<div class="container w-xl-50 col-lg-6 col-xl-2 bg-dark text-light col-6 col-md-6 col-sm-12 "
  style="margin-top: 100px; padding: 40px; border-radius: 10px; max-width:500px;">

  <div class="text-center text-light">
    <h3 class="text-white">Login Here!</h3>
  </div>
  <br />
  <form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" name="username" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp"
        required />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" name="password" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1" required />
    </div>
    <div class="mb-3 form-check">

      <div class="d-flex justify-content-between row">
        <div class="text-center ml-0 col-6">
          New here? <a href="{% url 'UserReg' %}">Sign up!</a>
        </div>
        <div class="text-end col-6">
          <a href="{% url 'OtpLogin' %}">OTP login</a><br>
          <a href="{% url 'reset_password' %}">Reset password</a>
        </div>
      </div>
    </div>
    <button type="submit" class="btn text-center btn-primary">Submit</button>
  </form>
  <br><br>
  <div class="text-center justify-content-center mx-auto">
    <a href="{% url 'UserHome' %}"><button class="btn btn-primary btn-dark ">Continue Shopping</button></a>
  </div>
</div>
<br /><br /><br /><br /><br />

{% endblock %}