{% extends 'base.html' %} {% block content %}

<br><br><br><br><br><br>
{% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible px-5" role="alert">
    {{ message }}
    <button type="button" class="btn" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True">&times;</span>
    </button>
  </div>
</div>
{% endfor %}
<div class="container m-5 p-5 w-lg-50 mx-auto bg-dark text-light rounded"
  style="margin-top: 100px; margin-bottom: -100px; max-width: 700px;">
  <h3 class="text-center text-white">Register here!</h3>
  <form method="POST" action="">
    {% csrf_token %} {% load crispy_forms_tags %}
    <div class="row">
      <div class="col-md-6 p-2">{{form.first_name|as_crispy_field}}</div>
      <div class="col-md-6 p-2">{{form.last_name|as_crispy_field}}</div>
      <div class="col-md-6 p-2">{{form.email|as_crispy_field}}</div>

      <div class="col-md-6 p-2">{{form.phone|as_crispy_field}}</div>
      <div class="col-md-6 p-2">{{form.username|as_crispy_field}}</div>
      <div class="col-md-6 p-2">{{form.password1|as_crispy_field}}</div>
      <div class="col-md-6 p-2">{{form.password2|as_crispy_field}}</div>


    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
  <br>

  <div class="text-center">
    Already a user? <a href="{% url 'UserLogin' %}">Sign in</a>
  </div>
</div>
<style>
  ul,
  #hint_id_username,
  #hint_id_password2 {
    display: none;
  }
</style>
{% endblock %}