{% extends 'base.html' %}

{% block content %}
{% load static %}
<!-- Hero Section Begin -->
<section class="hero">
    <div class="hero__slider owl-carousel">
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/9RTcover.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Mobile Collections</h6>
                            <h2>OnePlus 9RT Available Now</h2>
                            <p>Experience the 120Hz fluid display and flagship camera with OIS on OnePlus 9RT now.
                                OnePlus Winter Launch.</p>
                            <a href="{% url 'UserShop' %}" class="primary-btn">Shop now <span
                                    class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="https://www.facebook.com/amichumiras"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/MichuMiras1?t=ZRPwzL65EuUh6SF-25XPIQ&s=09"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/miras98/"><i class="fa fa-linkedin"></i></a>
                                <a href="https://www.instagram.com/_theycallmemichu_/"><i
                                        class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/headphone.jpg' %}"
            style="background-size: cover;">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Headphone Collections</h6>
                            <h2>Ranging from In-Ear to On-Ear 2022</h2>
                            <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                            <a href="{% url 'UserShop' %}" class="primary-btn">Shop now <span
                                    class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="https://www.facebook.com/amichumiras"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/MichuMiras1?t=ZRPwzL65EuUh6SF-25XPIQ&s=09"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/miras98/"><i class="fa fa-linkedin"></i></a>
                                <a href="https://www.instagram.com/_theycallmemichu_/"><i
                                        class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero__items set-bg" data-setbg="{% static 'img/hero/laptops.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-5 col-lg-7 col-md-8">
                        <div class="hero__text">
                            <h6>Laptop Collection</h6>
                            <h2>All other electronics available 2022</h2>
                            <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                            <a href="{% url 'UserShop' %}" class="primary-btn">Shop now <span
                                    class="arrow_right"></span></a>
                            <div class="hero__social">
                                <a href="https://www.facebook.com/amichumiras"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/MichuMiras1?t=ZRPwzL65EuUh6SF-25XPIQ&s=09"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/in/miras98/"><i class="fa fa-linkedin"></i></a>
                                <a href="https://www.instagram.com/_theycallmemichu_/"><i
                                        class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product spad pt-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Best Sellers</li>

                </ul>
            </div>
        </div>
        <div class="row product__filter">
            {% for product in pricetype.product_set.all %}
            {% if product.stocks == 0 %}

            <div class="new-arrivals col-lg-4 col-md-6 col-sm-6 wished{{product.id}} my-2">
                <div class=" rounded-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 10px;">
                    <a href="{% url 'Product' product.id %}">
                        <div class="product__item__pic set-bg " href="{% url 'Product' product.id %}"
                            data-setbg="{{product.image1.url}}">
                            <span class="label bg-dark text-white">Out of stock</span>
                        </div>
                    </a>
                    <div class="product__item__text">
                        <div class="d-flex justify-content-between">
                            <h6>{{product.name}}aaaaaaa</h6>
                            <div>
                                <!-- <i class="fa fa-heart-o" style="font-size:22px;"></i>
                                        <i class="fa fa-heart" style="font-size:22px;color:red"></i> -->
                                <span class="d-flex" style="position: absolute; top: 0; right: 0;">

                                    <div class="{% if product.id not in wishes %}d-none{% endif %}" id="add_wish">
                                        <button class="wishh "
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="remove">
                                            <i class="fa fa-heart" style="font-size:22px;color:red"></i>

                                        </button>
                                    </div>

                                    <div class="{% if product.id in wishes %}d-none{% endif %}" id="remove_wish">
                                        <button class="wishh"
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="add">
                                            <i class="fa fa-heart-o" style="font-size:22px;"></i>

                                        </button>
                                    </div>

                                </span>
                            </div>
                        </div>
                        <h5>{{product.newpriceinr}}</h5>
                        <div class="product__color__select">
                        </div>
                    </div>
                    <div class="d-flex  mt-3 px-3" style="width:fit-content">
                        <a class="add-cart update-cart outofstockk" style="cursor: pointer"><button
                                class="btn btn-dark ">+ Add
                                To Cart</button></a>
                        <button class="btn btn-info text-white rounded-4 px-3 mx-2 outofstockk">Buy
                            Now </button>
                    </div>

                </div>
            </div>
            {% elif product.offer == True %}
            <div class="new-arrivals col-lg-4 col-md-6 col-sm-6 wished{{product.id}} my-2">
                <div class=" rounded-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 10px;">
                    <a href="{% url 'Product' product.id %}">
                        <div class="product__item__pic set-bg" href="{% url 'Product' product.id %}"
                            data-setbg="{{product.image1.url}}">
                            <span class="label bg-danger text-white">Sale</span>
                        </div>
                    </a>
                    <div class="product__item__text">
                        <span class="d-flex justify-content-between">
                            <h6>{{product.name}}</h6>
                            <div>
                                <span class="d-flex" style="position: absolute; top: 0; right: 0;">

                                    <div class="{% if product.id not in wishes %}d-none{% endif %}" id="add_wish">
                                        <button class="wishh "
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="remove">
                                            <i class="fa fa-heart" style="font-size:22px;color:red"></i>

                                        </button>
                                    </div>

                                    <div class="{% if product.id in wishes %}d-none{% endif %}" id="remove_wish">
                                        <button class="wishh"
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="add">
                                            <i class="fa fa-heart-o" style="font-size:22px;"></i>

                                        </button>
                                    </div>

                                </span>
                            </div>
                        </span>
                        <span class="d-flex">
                            <h5 class="px-2">{{product.newpriceinr}}</h5>
                            <p style="text-decoration: line-through;" class="text-muted">{{product.priceinr}}
                            </p>
                        </span>
                    </div>
                    <div class="d-flex container-fluid justify-content-around">
                        <a class="add-cart update-cart" data-product="{{product.id}}" data-action="add"
                            style="cursor: pointer"><button class="btn btn-dark flex-1">+ Add
                                To Cart</button></a>
                        <button class="btn btn-info text-white rounded-4 px-3 mx-2"><a
                                href="{% url 'BuyNow' product.id %}">Buy
                                Now </a></button>
                    </div>

                </div>
            </div>
            {% elif product.catogery.catoffer == True %}
            <div class="new-arrivals col-lg-4 col-md-6 col-sm-6 wished{{product.id}} my-2">
                <div class=" rounded-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 10px;">
                    <a href="{% url 'Product' product.id %}">
                        <div class="product__item__pic set-bg" href="{% url 'Product' product.id %}"
                            data-setbg="{{product.image1.url}}">
                            <span class="label bg-danger text-white">Sale</span>
                        </div>
                    </a>
                    <div class="product__item__text">
                        <span class="d-flex justify-content-between">
                            <h6>{{product.name}}</h6>
                            <div>
                                <span class="d-flex" style="position: absolute; top: 0; right: 0;">

                                    <div class="{% if product.id not in wishes %}d-none{% endif %}" id="add_wish">
                                        <button class="wishh "
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="remove">
                                            <i class="fa fa-heart" style="font-size:22px;color:red"></i>

                                        </button>
                                    </div>

                                    <div class="{% if product.id in wishes %}d-none{% endif %}" id="remove_wish">
                                        <button class="wishh"
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="add">
                                            <i class="fa fa-heart-o" style="font-size:22px;"></i>

                                        </button>
                                    </div>

                                </span>
                            </div>
                        </span>
                        <span class="d-flex">
                            <h5 class="px-2">{{product.newpriceinr}}</h5>
                            <p style="text-decoration: line-through;" class="text-muted">{{product.priceinr}}
                            </p>
                        </span>
                    </div>
                    <div class="d-flex ">
                        <a class="add-cart update-cart col-6" data-product="{{product.id}}" data-action="add"
                            style="cursor: pointer"><button class="btn btn-dark">+ Add
                                To Cart</button></a>
                        <button class="btn btn-info col-6 text-white rounded-4 px-3 mx-2"><a
                                href="{% url 'BuyNow' product.id %}">Buy
                                Now </a></button>
                    </div>

                </div>
            </div>

            {% else %}
            <div class="new-arrivals col-lg-4 col-md-6 col-sm-6 wished{{product.id}} my-2">
                <div class=" rounded-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 10px;">
                    <a href="{% url 'Product' product.id %}">
                        <div class="product__item__pic set-bg" href="{% url 'Product' product.id %}"
                            data-setbg="{{product.image1.url}}">
                        </div>

                    </a>
                    <div class="product__item__text">
                        <span class="d-flex justify-content-between">

                            <h6>{{product.name}}</h6>
                            <div>
                                <span class="d-flex" style="position: absolute; top: 0; right: 0;">

                                    <div class="{% if product.id not in wishes %}d-none{% endif %}" id="add_wish">
                                        <button class="wishh "
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="remove">
                                            <i class="fa fa-heart" style="font-size:22px;color:red"></i>

                                        </button>
                                    </div>

                                    <div class="{% if product.id in wishes %}d-none{% endif %}" id="remove_wish">
                                        <button class="wishh"
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="add">
                                            <i class="fa fa-heart-o" style="font-size:22px;"></i>

                                        </button>
                                    </div>

                                </span>
                            </div>

                        </span>
                        <h5>{{product.newpriceinr}}</h5>
                        <div class="product__color__select">
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <a class="add-cart update-cart col-6" data-product="{{product.id}}" data-action="add"
                            style="cursor: pointer"><button class="btn btn-dark">+ Add
                                To Cart</button></a>
                        <button class="btn btn-info col-6 text-white rounded-4 px-3 mx-2"><a
                                href="{% url 'BuyNow' product.id %}">Buy
                                Now </a></button>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% for product in bestproducts %}
            {% if product.stocks == 0 %}

            <div class="hot-sales col-lg-4 col-md-6 col-sm-6 wished{{product.id}} my-2">
                <div class=" rounded-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 10px;">
                    <a href="{% url 'Product' product.id %}">
                        <div class="product__item__pic set-bg" href="{% url 'Product' product.id %}"
                            data-setbg="{{product.image1.url}}">
                            <span class="label bg-dark text-white">Out of stock</span>
                        </div>
                    </a>
                    <div class="product__item__text">
                        <div class="d-flex justify-content-between">
                            <h6>{{product.name}}</h6>
                            <div>
                                <!-- <i class="fa fa-heart-o" style="font-size:22px;"></i>
                                        <i class="fa fa-heart" style="font-size:22px;color:red"></i> -->
                                <span class="d-flex" style="position: absolute; top: 0; right: 0;">

                                    <div class="{% if product.id not in wishes %}d-none{% endif %}" id="add_wish">
                                        <button class="wishh "
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="remove">
                                            <i class="fa fa-heart" style="font-size:22px;color:red"></i>

                                        </button>
                                    </div>

                                    <div class="{% if product.id in wishes %}d-none{% endif %}" id="remove_wish">
                                        <button class="wishh"
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="add">
                                            <i class="fa fa-heart-o" style="font-size:22px;"></i>

                                        </button>
                                    </div>

                                </span>
                            </div>
                        </div>
                        <h5>{{product.newpriceinr}}</h5>
                        <div class="product__color__select">
                        </div>
                    </div>

                    <div class="d-flex container-fluid justify-content-around mt-3">
                        <a class="add-cart update-cart outofstockk w-50" style="cursor: pointer"><button
                                class="btn btn-dark flex-1">+ Add
                                To Cart</button></a>
                        <button class="btn btn-info text-white rounded-4 px-3 mx-2 outofstockk w-50">Buy
                            Now </button>
                    </div>

                </div>
            </div>
            {% elif product.offer == True %}
            <div class="hot-sales col-lg-4 col-md-6 col-sm-6 wished{{product.id}} my-2">
                <div class=" rounded-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 10px;">
                    <a href="{% url 'Product' product.id %}">
                        <div class="product__item__pic set-bg" href="{% url 'Product' product.id %}"
                            data-setbg="{{product.image1.url}}">
                            <span class="label bg-danger text-white">Sale</span>
                        </div>
                    </a>
                    <div class="product__item__text">
                        <span class="d-flex justify-content-between">
                            <h6>{{product.name}}</h6>
                            <div>
                                <span class="d-flex" style="position: absolute; top: 0; right: 0;">

                                    <div class="{% if product.id not in wishes %}d-none{% endif %}" id="add_wish">
                                        <button class="wishh "
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="remove">
                                            <i class="fa fa-heart" style="font-size:22px;color:red"></i>

                                        </button>
                                    </div>

                                    <div class="{% if product.id in wishes %}d-none{% endif %}" id="remove_wish">
                                        <button class="wishh"
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="add">
                                            <i class="fa fa-heart-o" style="font-size:22px;"></i>

                                        </button>
                                    </div>

                                </span>
                            </div>
                        </span>
                        <span class="d-flex">
                            <h5 class="px-2">{{product.newpriceinr}}</h5>
                            <p style="text-decoration: line-through;" class="text-muted">{{product.priceinr}}
                            </p>
                        </span>
                    </div>
                    <div class="d-flex">
                        <a class="add-cart update-cart col-6" data-product="{{product.id}}" data-action="add"
                            style="cursor: pointer"><button class="btn btn-dark">+ Add
                                To Cart</button></a>
                        <button class="btn btn-info col-6 text-white rounded-4 px-3 mx-2"><a
                                href="{% url 'BuyNow' product.id %}">Buy
                                Now </a></button>
                    </div>

                </div>
            </div>
            {% elif product.catogery.catoffer == True %}
            <div class="hot-sales col-lg-4 col-md-6 col-sm-6 wished{{product.id}} my-2">
                <div class=" rounded-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 10px;">
                    <a href="{% url 'Product' product.id %}">
                        <div class="product__item__pic set-bg" href="{% url 'Product' product.id %}"
                            data-setbg="{{product.image1.url}}">
                            <span class="label bg-danger text-white">Sale</span>
                        </div>
                    </a>
                    <div class="product__item__text">
                        <span class="d-flex justify-content-between">
                            <h6>{{product.name}}</h6>
                            <div>
                                <span class="d-flex" style="position: absolute; top: 0; right: 0;">

                                    <div class="{% if product.id not in wishes %}d-none{% endif %}" id="add_wish">
                                        <button class="wishh "
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="remove">
                                            <i class="fa fa-heart" style="font-size:22px;color:red"></i>

                                        </button>
                                    </div>

                                    <div class="{% if product.id in wishes %}d-none{% endif %}" id="remove_wish">
                                        <button class="wishh"
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="add">
                                            <i class="fa fa-heart-o" style="font-size:22px;"></i>

                                        </button>
                                    </div>

                                </span>
                            </div>
                        </span>
                        <span class="d-flex">
                            <h5 class="px-2">{{product.newpriceinr}}</h5>
                            <p style="text-decoration: line-through;" class="text-muted">{{product.priceinr}}
                            </p>
                        </span>
                    </div>
                    <div class="d-flex ">
                        <a class="add-cart update-cart col-6" data-product="{{product.id}}" data-action="add"
                            style="cursor: pointer"><button class="btn btn-dark">+ Add
                                To Cart</button></a>
                        <button class="btn btn-info col-6 text-white rounded-4 px-3 mx-2"><a
                                href="{% url 'BuyNow' product.id %}">Buy
                                Now </a></button>
                    </div>

                </div>
            </div>

            {% else %}
            <div class="hot-sales col-lg-4 col-md-6 col-sm-6 wished{{product.id}} my-2">
                <div class=" rounded-3" style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; padding: 10px;">
                    <a href="{% url 'Product' product.id %}">
                        <div class="product__item__pic set-bg" href="{% url 'Product' product.id %}"
                            data-setbg="{{product.image1.url}}">
                        </div>

                    </a>
                    <div class="product__item__text">
                        <span class="d-flex justify-content-between">

                            <h6>{{product.name}}</h6>
                            <div>
                                <span class="d-flex" style="position: absolute; top: 0; right: 0;">

                                    <div class="{% if product.id not in wishes %}d-none{% endif %}" id="add_wish">
                                        <button class="wishh "
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="remove">
                                            <i class="fa fa-heart" style="font-size:22px;color:red"></i>

                                        </button>
                                    </div>

                                    <div class="{% if product.id in wishes %}d-none{% endif %}" id="remove_wish">
                                        <button class="wishh"
                                            style="background: none; border: 0; text-decoration: none;"
                                            data-id="{{product.id}}" data-action="add">
                                            <i class="fa fa-heart-o" style="font-size:22px;"></i>

                                        </button>
                                    </div>

                                </span>
                            </div>

                        </span>
                        <h5>{{product.newpriceinr}}</h5>
                        <div class="product__color__select">
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <a class="add-cart update-cart col-6" data-product="{{product.id}}" data-action="add"
                            style="cursor: pointer"><button class="btn btn-dark">+ Add
                                To Cart</button></a>
                        <button class="btn btn-info col-6 text-white rounded-4 px-3 mx-2"><a
                                href="{% url 'BuyNow' product.id %}">Buy
                                Now </a></button>
                    </div>
                </div>
            </div>
            {% endif %}

            {% endfor %}


</section>
<!-- Latest Blog Section End -->
<section>


</section>


<script>
    $(document).ready(function () {
        $('.outofstockk').click(function (e) {

            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Out of Stock!',
                footer: '<a href="">Continue shopiing</a>'

            });

        });
    });
</script>
<script>
    $('.update-cart').on('click', function (e) {
        var product = $(this).data('product')
        var action = $(this).data('action')
        console.log(product)
        console.log(action)
        $.ajax({
            type: 'POST',
            url: "{% url 'updateitem' %}",
            data: {
                productId: product,
                action: action,
                csrfmiddlewaretoken: "{{ csrf_token }}"
            },
            dataType: 'json',
            success: function (response) {
            }
        });
        Swal.fire(
            'Added to cart!',
            'Your item have added to cart',
            'success'
        )
    });
</script>



{% endblock %}